{% extends "base.html" %} {% block title %} Sobre Mim {% endblock %} {% block content %}{% load static %}

<div class="container mt-5">
  <div class="row">
    <div class="col-md-4 text-center">
<img src="{% static 'foto.png' %}" class="img-fluid rounded-circle" alt="Foto de Perfil" />
    </div>
    <div class="col-md-8">
      <h2>Sobre Mim</h2>
      <p class="lead">
        Olá! Meu nome é Antonia Tainã, e sou uma desenvolvedora que estuda no IFRN deste 2021, agora no ultimo ano cursando informatica.
      </p>
      <p>
        Amo viajar, conhecer novas culturas, e aprender novas línguas. Sou apaixonada por tecnologia e programação, e estou sempre em busca de novos desafios e oportunidades para crescer profissionalmente.
      </p>
      <p>
       No meu tempo livre gosto de ler, assistir filmes e séries, e praticar esportes. Também adoro cozinhar e experimentar novas receitas. Eu gosto de tocar violino, e estou sempre em busca de novas músicas para aprender.
      </p>
    </div>
  </div>
</div>
{% endblock %}
